Options +FollowSymlinks
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

ErrorDocument 403 /include/pages/user/403.php?status=true
ErrorDocument 404 /include/pages/user/404.php?status=true

# RewriteCond %{HTTP_HOST} ^(^.*)\.ilp.test
# RewriteRule ^(.*)$ index.php/subpage/$1/%1 [L]

#USER PAGES

#ADMIN PAGES
RewriteRule ^admin$ index.php?admin_code=websites&active_page=websites [L]
RewriteRule ^admin/([a-z]+)$ index.php?active_page=$1&admin_code=$1 [L]
RewriteRule ^admin/([a-z]+)/([a-z]+)-form$ index.php?active_page=$1&admin_code=$1&action=$2 [L]
RewriteRule ^admin/([a-z]+)/([a-z]+)-form/([0-9]+)$ index.php?active_page=$1&admin_code=$1&action=$2&id=$3 [L]
RewriteRule ^admin/([a-z]+)/page/([0-9]+)$ index.php?active_page=$1&admin_code=$1&page=$2 [L]

#ACTION REQUESTS
RewriteRule ^([a-z]+)-request$ action/$1.php [L] 