*{
    box-sizing: border-box;
}

body,html{
    overflow-x: hidden;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    &.disable{
        overflow: hidden;
    }
}

img{
    image-rendering: -webkit-optimize-contrast;
}
