nav{
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }   
}

#navigation{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 14;

    a,button{
        cursor: pointer;
        text-decoration: none;
        color: lighten(map-get($colors, "default"), 45%);
        letter-spacing: 1px;
        transition: 0.5s;
        white-space: nowrap;

        &:hover{
            color: map-get($colors, "white");
        }
    }

    .logo{
        font-size: 18px;
        color: map-get($colors, "white")
    }
}

#account{
    span {
        @include round(25px);
        @extend %center-content;
        border: 1px solid;
        font-size: 25px;
        &:before{
            margin-left: 2px;
        }
    }
    &.active{
        span,p{
            color: map-get($colors, "white");
        }
    }
}

#menu{
    &:before{
        content: "";
        @extend %overlay;
        display: none;
        transition: 0.5s;
        pointer-events: none;
        z-index: -1;
    }
    
    @media only screen and (max-width: $breakpoint-sm - 1) {
        position: fixed;
        top: 0;
        left: 100%;
        height: 100%;
        width: 80%;
        background-color: map-get($colors, "bluegray");
        transition: 0.5s;
        border-left: 1px solid map-get($colors, "white");
        flex-direction: column;
        align-items: flex-start;
        padding: 7.5rem 15px 15px;
        z-index: 10;

        &:before{
            display: block;
            opacity: 0;
        }

        &.open{
            left: 20%;

            &:before{
                pointer-events: none;
                opacity: 1;
            }
        }

        li{
            width: 100%;
            font-size: 18px;
            padding-left: 0 !important;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:not(:first-child){
                border-top: 1px solid map-get($colors, "white");
            }
            &:after{
                content: '\e802';
                font-family: fontello;
                color: map-get($colors, "white");
                font-size: 20px;
            }
        }
        a,button{
            width: 100%;
            display: block;
            color: map-get($colors, "white");
            padding: 1.5rem 0;
        }
    }
}