@import "../../base/components/icons";

.icon{
    &-trash-empty:before {
        content: '\e809';
    }
    &-plus:before {
        content: '\e80a';
    }
    &-globe:before {
        content: '\e806';
    }
    &-pencil:before {
        content: '\e807';
    }
    &-card:before {
        content: '\e80b';
    }
    &-hashtag:before {
        content: '\f292';
    }
}