.captcha{
    position: relative;
    font-size: 30px;
    font-family: cursive !important;
    font-style: italic;
    letter-spacing: 10px;
    background: transparent;
    z-index: 5;

    @include e(refresh){
        position: absolute;
        top: 5px;
        right: 5px;
        opacity: 0.85;
        cursor: pointer;
        z-index: 9;
    }
}