.card{
    box-shadow: 0px 3px 8px 0px map-get($colors, "lightgray");
    border: 1px solid map-get($colors, "dirtywhite");
    border-radius: 5px;;
    background: map-get($colors, "white");

    &:not(:first-child){
        margin-top: 3rem;
    }

    @include e(body){
        padding: 15px;
    }

    @include e(footer){
        padding: 15px;
        border-top: 1px solid map-get($colors, "dirtywhite");
        background: #0000000d;
    }

    @include e(title){
        margin-bottom: 0.5rem;
    }
}